<!DOCTYPE HTML>
<!--
    Prologue by HTML5 UP
    html5up.net | @@ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<!--
<script src="/static/js/jquery-1.8.3.min.js"></script>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/jquery.scrollzer.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>-->
<script src="~/js/jquery-1.8.3.min.js"></script>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery.scrolly.min.js"></script>
<script src="~/js/jquery.scrollzer.min.js"></script>
<script src="~/js/skel.min.js"></script>
<script src="~/js/util.js"></script>
<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
<!--<script src="/assets/js/main.js"></script>-->
<script src="~/js/main.js"></script>

<script scr="">
    function JumptoSigup() {
        //alert("1");
        //window.location.href="Signup.html";
        window.open("/UserInfoModels/Create.cshtml", "【注册】", "toolbar=yes, location=no, directories=no, status=no, menubar=yes, scrollbars=yes, resizable=no, copyhistory=yes, width=600, height=800");
    }
    //function Jumptodigger()
    //{
    //alert("1");
    //window.location.href="Signup.html";
    //window.open("https:\\ruio.im");
    //}

</script>
<html>
<head>
    <title>3G'Room_in_RuioWolf.House</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
    <!--<link rel="stylesheet" href="/assets/css/main.css" />-->
    <link rel="stylesheet" href="~/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
</head>
<!-- Scripts -->

<body>

    <!-- Header -->
    <div id="header">

        <div class="top">

            <!-- Logo -->
            <div id="logo">
                <span class="image avatar48"><img src="/images/avatar.jpg" alt="" /></span>
                <h1 id="title">333G</h1>
                <p>A nameless furrier</p>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <!--

                    Prologue's nav expects links in one of two formats:

                    1. Hash link (scrolls to a different section within the page)

                       <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

                    2. Standard link (sends the user to another page/site)

                       <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

                -->
                <ul>
                    <li><a href="#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Intro</span></a></li>
                    <li><a href="#portfolio" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Photo</span></a></li>
                    <li><a href="#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">About Me</span></a></li>
                    <li><a href="#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Contact</span></a></li>
                </ul>
            </nav>

        </div>

        <div class="bottom">

            <!-- Social Icons -->
            <ul class="icons">
                <li><a href="https://twitter.com/3G_inside" class="icon fa-twitter"><span class="label">MyTwitter</span></a></li>
                <li><a href="https://weibo.com/u/2864302614">微博</a></li>
                <li><a href="https://github.com/333G" class="icon fa-github"><span class="label">MyGithub</span></a></li>
                <li><a href="http://www.w3school.com.cn" class="icon fa-search"><span class="label">W3School</span></a></li>
                <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>

        </div>

    </div>

    <!-- Main -->
    <div id="main">

        <!-- Intro -->
        <section id="top" class="one dark cover">
            <div class="container">

                <header>
                    <h2 class="alt"></h2>
                    Hi! I'm <strong>3G</strong>

                    <!--, a <a href="http://html5up.net/license">free</a> responsive<br />
                    site template designed by <a href="http://html5up.net">HTML5 UP</a>.</h2>
                    <p>Ligula scelerisque justo sem accumsan diam quis<br />
                    vitae natoque dictum sollicitudin elementum.</p>。-->
                </header>

                <footer>
                    <a href="#about" class="button scrolly">About me</a>
                </footer>
                <a href="https://ruio.im">大狗狗友情链接,点击快速入欧!</a>
                <!--<a onclick="Jumptodigger">大狗狗友情链接</a>-->
            </div>
        </section>

        <!-- Portfolio -->
        <section id="portfolio" class="two">
            <div class="container">

                <header>
                    <h2>PHOTO</h2>
                </header>

                <p>.。。。。。我也没想好这里要写什么</p>

                <div class="row">
                    <div class="4u 12u$(mobile)">
                        <article class="item">
                            <a href="#" class="image fit"><img src="/images/pic02.jpg" alt="" /></a>
                            <header>
                                <h3>xxx老军医超凶xxx</h3>
                            </header>
                        </article>
                        <article class="item">
                            <a href="#" class="image fit"><img src="~/images/pic03.jpg" alt="" /></a>
                            <header>
                                <h3>Self </h3>
                            </header>
                        </article>
                    </div>
                    <div class="4u 12u$(mobile)">
                        <article class="item">
                            <a href="#" class="image fit"><img src="/images/pic04.jpg" alt="" /></a>
                            <header>
                                <h3>dagger & me in gaming</h3>
                            </header>
                        </article>
                        <article class="item">
                            <a href="#" class="image fit"><img src="/images/pic05.jpg" alt="" /></a>
                            <header>
                                <h3>+******建设中******+</h3>
                            </header>
                        </article>
                    </div>
                    <div class="4u$ 12u$(mobile)">
                        <article class="item">
                            <a href="#" class="image fit"><img src="/images/pic06.jpg" alt="" /></a>
                            <header>
                                <h3>+******建设中******+</h3>
                            </header>
                        </article>
                        <article class="item">
                            <a href="#" class="image fit"><img src="/images/pic07.jpg" alt="" /></a>
                            <header>
                                <h3>Orci Convallis</h3>
                            </header>
                        </article>
                    </div>
                </div>

            </div>
        </section>

        <!-- About Me -->
        <section id="about" class="three">
            <div class="container">

                <header>
                    <h2>About Me</h2>
                </header>

                <a href="#" class="image featured"><img src="/images/abtme.jpg" alt="" /></a>

                <div>. 大家好，这里是一只蓝狗，现处武汉，是一位bug制造者...emmmm交个朋友不? .</div>
                <div>感谢大狗狗 @@Ruio<span style="text-decoration:line-through;">Wolf</span>DOG 提供的服务器支持</div>
                <div>. 腾讯QQ:389724163 .</div>
                <div>. Email:sgndjk@gmail.com .</div>
                <!--<p> content </p> -->

            </div>
        </section>

        <!-- Contact -->
        <section id="contact" class="four">
            <div class="container">

                <header>
                    <h2>Contact</h2>
                </header>

                <p>Under Constructuon</p>

                <form method="post" action="#">
                    <div class="row">
                        <div class="6u 12u$(mobile)"><input type="text" name="name" placeholder="Name" /></div>
                        <div class="6u$ 12u$(mobile)"><input type="text" name="email" placeholder="Email" /></div>
                        <div class="12u$">
                            <textarea name="message" placeholder="Message"></textarea>
                        </div>
                        <div class="12u$">
                            <input type="submit" value="Send Message" />
                            <div><button id="Submitacount" type="button" onclick="JumptoSigup()">new account【注册】 </button> </div>

                        </div>
                    </div>
                </form>

            </div>
        </section>

    </div>

    <!-- Footer -->
    <div id="footer">

        <!-- Copyright -->
        <ul class="copyright">
            <li>&copy; @@sgndjk All rights reserved.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            <li>&copy; 333G</li>
        </ul>

    </div>
</body>
</html>